<h2 class="tagline">
  Top funds by AUM
  <p class="quotes">
    <%= image_tag 'usd.png', alt: 'usd-logo', class: 'quote-image' %>
    <%= number_with_delimiter(@total) %> USD
    <span class="info">(total AUM in funds)</span>
  </p>
</h2>
