<div class="container">
  <div class="header">
    <div class="logo-container">
      <%= image_tag 'gvt_logo.png', alt: 'gvt-logo', class: 'gvt-logo' %>
    </div>
    <div class="headline-container">
      <h1 class='headline'>GVT Adoption Progress:
        <%= Date.today.strftime(" %b %-d, %Y") %>
      </h1>
      <%= render "tagline_funds" %>
    </div>
  </div>

  <%= render 'chart', data: @chart_data, cutoff: @cutoff %>

  <div id="managers-footer" class="footer">
    <span class="credits">
      Charts by
      <span class="primary">@GVTProgressBot</span>
      <span class="separator">|</span>
      Data by
      <span class="primary">@genesis_vision</span>
      <span class="separator">|</span>
      Made by
      <span class="primary">@janklimo</span>
    </span>
  </div>
</div>

