<div class="container">
  <div class="header">
    <div class="logo-container">
      <%= image_tag 'gvt_logo.png', alt: 'gvt-logo', class: 'gvt-logo' %>
    </div>
    <div class="headline-container">
      <h1 class='headline'>GVT Adoption Progress:
        <%= Date.today.strftime(" %b %-d, %Y") %>
      </h1>
      <%= render "tagline_managers" %>
    </div>
  </div>

  <div class="chart">
    <%= pie_chart(@chart_data,
      colors: ['#15bbaf'],
      library: {
        plotOptions: {
          series: {
            animation: false,
          },
          pie: {
            colors: ['#62e2d9', '#7EE7DF'],
            dataLabels: {
              enabled: true,
              format: '{point.name} ({percentage:.1f}%)',
              filter: {
                property: 'y',
                operator: '>',
                value: @cutoff
              }
            }
          }
        },
        chart: {
          height: 315
        }
      }) %>
  </div>
  <div id="managers-footer" class="footer">
    <span class="credits">
      Charts by
      <span class="primary">@GVTProgressBot</span>
      <span class="separator">|</span>
      Data by
      <span class="primary">@genesis_vision</span>
      <span class="separator">|</span>
      Made by
      <span class="primary">@janklimo</span>
    </span>
  </div>
</div>

