.container {
  width: 1000px;
}

.header {
  margin-bottom: 42px;

  .logo-container {
    display: inline-block;
    width: 10%;

    .gvt-logo {
      width: 73px;
      display: inline;
    }
  }
}

.headline-container {
  display: inline-block;
  width: 88%;

  .headline {
    font-size: 20px;
    position: relative;
    top: 7px;
    color: $gray;
  }

  .tagline {
    margin: 0;
    font-size: 26px;
    position: relative;
    top: -5px;
  }

  .quote-image {
    width: 22px;
    margin-bottom: -4px;
    margin-right: 5px;
  }

  .quotes {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #aeaeae;
    font-size: 15px;
    margin: 0;
  }

  .info {
    font-size: 12px;
    color: #c3c3c3;
  }

  .count {
    font-size: 16px;
    margin-left: 5px;
  }
}

.separator {
  color: #6d6d6d;
  margin: 0 7px;
}

.chart {
  display: block;
  height: 340px;
}

.footer {
  font-size: 12px;
  margin-left: 14px;
  margin-top: 8px;
  color: #aeaeae;

  .credits {
    float: right;
  }
}

#managers-footer {
  .credits {
    float: left;
  }
}

.primary {
  color: $primary;
}

